/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.897);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #00ff44;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff6b6b;
}

#hero {
    background: url('k.jpg') no-repeat center center/cover;
    color: #ffffff;
    text-align: center;
    padding: 4rem 2rem;
}

#hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#hero p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.cta-button {
    background-color: #ff6b6b;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #ff5a5a;
}

#productos, #beneficios, #testimonios, #contacto {
    padding: 2rem;
    text-align: center;
}

.product-grid {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
}

.product-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    max-width: 200px;
    text-align: center;
}

.product-item img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.product-item h3 {
    margin: 0.75rem 0 0.5rem 0;
    color: #ff6b6b;
}

.testimonio {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin: 1rem 0;
}

footer {
    background-color: #f5c8c8;
    color: #333;
    text-align: center;
    padding: 1rem 2rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

